<ion-header>
  <ion-toolbar>
    <ion-title>
      Pasos Caminados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment>
  <ion-segment-button (click)="showPasosTiempo('dia')" value="dia">
    <ion-label>Día</ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="showPasosTiempo('semana')" value="semana">
    <ion-label>Semana</ion-label>
  </ion-segment-button>
  <ion-segment-button value="mes">
    <ion-label>Mes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="ano">
    <ion-label>Año</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>